<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
</head>
<body>
  <h1>{{mensajeDeBienvenida}}</h1>
  
   
  <form action="/api/sessions/logout" method="post">
    <button type="submit">Logout</button>
  </form>
</body>
</html>

